[FastTextRank]
keyword_url = http://ip:port/fastTextRank/getKeyWord
sentence_url = http://ip:port/fastTextRank/getSentence

[PaddleOCR]
paddleocr_url = http://ip:port/paddle/paddleOcr

[GoogleTranslate]
google_translate_url = http://ip:port/googleTranslate/getTranslateResult

[gTTS]
gtts_url = http://ip:port/gtts/textToVoice

[ImageTempDir]
tmpDir = ./tmp